body {
  background-color: #253035;
  margin-bottom: 50px;
}

.navbar {
  padding-left: 30px;
  padding-right: 30px;
  background-color: #ebb550;
}

.nav-item > .nav-link {
  font-size: 18px;
  font-weight: 500;
}

.nav-item > .nav-link.active {
  color: #f1f1f1;
  background-color: #e67d31;
  border-radius: 30px;
}

.title-form {
  margin-top: 30px;
  margin-bottom: 50px;
  color: #d9d9d9;
  font-size: 32px;
  font-weight: bold;
  text-transform: capitalize;
}

.form-label {
  color: #d9d9d9;
  font-size: 16px;
}

.form-control {
  background-color: #596e7e;
  border: none;
  color: #d9d9d9;
}

.btn-masuk {
  background-color: #e67d31;
  color: #d9d9d9;
  font-weight: bold;
  border: none;
  border-radius: 10px;
  padding: 10px 40px;
}

@media (max-width: 576px) {
  .nav-item > .nav-link.active {
    background-color: #ebb550;
  }
}
